.container{
    padding-top: 10%;
    max-width: 400px;
    margin: auto;
}

/* unminified */
/*! CSS Used from: https://www.w3.org/StyleSheets/TR/2016/base.css */

h2,
h3 {
    page-break-after: avoid;
    page-break-inside: avoid;
    font: 100% sans-serif;
    font-family: inherit;
    line-height: 1.2;
    hyphens: manual;
}

h2,
h3 {
    margin-top: 3rem;
}

h2,
h3 {
    color: #005A9C;
    background: transparent;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

p {
    margin: 1em 0;
}

ul {
    margin-left: 0;
    padding-left: 2em;
}

li {
    margin: 0.25em 0 0.5em;
    padding: 0;
}


/*! CSS Used from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-1/css/tree.css */

ul[role="tree"] {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 120%;
}

[role="treeitem"].doc:before {
    /*content: url(https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-1/images/file.png);*/
    content: url(http://localhost:8080/css/img/Right_advance_arrow_down25.png);
    margin-right: .3em;
}

[role="treeitem"][aria-expanded="false"] > ul {
    display: none;
  }
  
[role="treeitem"][aria-expanded="true"] > ul {
display: block;
}

[role="treeitem"][aria-expanded="false"] > span:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.45em;
    position: relative;
    top: 1.00em;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.45em;
}

[role="treeitem"][aria-expanded="true"] > span:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.6em;
    position: relative;
    top: 1.25em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em;

}

[role="treeitem"],
[role="treeitem"] span {
    /*width: 9.6em;*/
    margin: 0;
    padding: 0;
    border: 2px transparent solid;
    padding: 0.125em;
    display: block;
}

[role="treeitem"]:focus {
    /*outline: 0;*/
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
  border-color: black;
  background-color: #DDD;
}

[role="treeitem"] span{
    background-color: #EEE;
}

[role="treeitem"] span:hover {
    background-color: #CCC;
}

img{
    pointer-events: none;
    margin-right: .5em;
}