.container{
    padding-top: 10%;
    max-width: 500px;
    margin: auto;
}

/* unminified */
/*! CSS Used from: https://www.w3.org/StyleSheets/TR/2016/base.css */

h2,
h3 {
    page-break-after: avoid;
    page-break-inside: avoid;
    font: 100% sans-serif;
    font-family: inherit;
    line-height: 1.2;
    hyphens: manual;
}

h2,
h3 {
    margin-top: 3rem;
}

h2,
h3 {
    color: #005A9C;
    background: transparent;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

p {
    margin: 1em 0;
}

ul {
    margin-left: 0;
    padding-left: 2em;
}

li {
    margin: 0.25em 0 0.5em;
    padding: 0;
}


/*! CSS Used from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-1/css/tree.css */

ul[role="tree"] {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 120%;
}

[role="treeitem"].doc:before {
    content: url(https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-1/images/file.png);
}

[role="treeitem"][aria-expanded="false"] > ul {
    display: none;
}

[role="treeitem"][aria-expanded="false"] > span:before {
    content: url(https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-1/images/closed.png);
}

[role="treeitem"],
[role="treeitem"] span {
    width: 9em;
    margin: 0;
    padding: 0;
    border: 2px transparent solid;
    padding: 0.125em;
    display: block;
}

[role="treeitem"]:focus {
    outline: 0;
}

[role="treeitem"] span:hover {
    background-color: #DDDDDD;
}